
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  
}

.logo img{
    width: 250px;
    margin-top: 20px;
}
header {
  background: linear-gradient(to right, rgb(79, 250, 150), rgb(50, 230, 221));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px; /* Espaçamento entre as letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}
body{
  background-color: rgb(230, 227, 227);
  box-shadow: 0 0 20px 0 darkgray;
}
.header-buttons {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.header-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  color: #7ed957;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra nos botões */
}

.header-buttons button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra maior ao passar o mouse */
}
.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 10px;
    align-items: flex-end;
    font-size: 18px;
    position: relative;
}
.menu nav a::after{
  content: " ";
  width: 0px;
  height: 4px;
  background-image: linear-gradient(45deg, #0097b2, #7ed957);
  position: absolute;
  top: 20px;
  left: 0;
  transition: width 0.5s;
}
.menu nav a:hover::after{
  width: 30px;
}
.box {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    

  }
  .planos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .plan-box {
    background-color: #f1f1f1;
    padding: 20px;
    transition: height 5s step-end;
    width: 200px;
    height: 70px;
    padding: 20px;
    margin: 65px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to right, rgb(79, 250, 150), rgb(50, 230, 221));
    border-radius: 10px;
  }
  
  .plan-details {
    display: none;
  }
  
  .plan-box:hover {
    height: auto;
  }
  
  .plan-box:hover .plan-details {
    display: block;
  }



 /* 

  /*footer*/ 
  footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, rgb(79, 250, 150), rgb(50, 230, 221));
    
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  }
.row{
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;

}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;

}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
.col h3{
width: fit-content;
margin-bottom: 40px;
position: relative;
}
.email-id{
  width: fit-content;
  border-radius: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa{
  font-size: 18px;
  margin-right: 10px;
}
form input{
width: 100%;
background: transparent;
color: #ccc;
border: 0;
outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fas{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fab{
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 20px;
color: #000;
background: #fff;
margin-right: 15px;
cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #050202;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}