@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    overflow: hidden;
    
}
body{
    height: 100vh;
    background: linear-gradient(
        45deg,
        rgb(197, 197, 197),
        #d5d7da,
        #ffffff
    );
}
header{
    width: 100vw;
    height: 50px;
    background: linear-gradient(to right, rgb(79, 250, 150), rgb(50, 230, 221));
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    border-bottom: 1px solid #ffffff;
}
.div-header{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
}
.voltar{
height: 100%;
width: 90px;
cursor: pointer;
background: transparent;
display: flex;
justify-content: center;
align-items: center;
border: none;
border-left: 1px solid white;
padding: 0 5px;
outline: none;
color: white;
font-size: 20px;
}
h1{
    font-size: 20px;
    color: #ffffff;
}
.div-nome{
    height: 80px;
    margin: 20px 0 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    color: #4ed44e;
    font-size: 35px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-form{
    margin-top: 15px;
    max-width: 700px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 25px 30px;
    box-shadow: 0 0 5px darkgray;
}
.div-form .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.div-form .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #4ed44e;
}
.consultas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.consulta{
    background-color: rgb(240, 255, 244);
    margin-bottom: 15px ;
    width: calc(100% / 2 - 10px);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px darkgray;
}
.consulta h4{
    font-weight: 600;
    font-size: 18px;
}
.consulta p{
    font-size: 15px;
}